@import "tailwindcss";

@import "leaflet/dist/leaflet.css";

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
}


.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  background-color: #0d111a !important;
  z-index: 0;
}

.custom-red-alert-marker,
.custom-amber-alert-marker {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.leaflet-popup-content-wrapper {
  background-color: #111827 !important;
  color: #ffffff !important;
  border: 1px solid #374151 !important;
  border-radius: 8px !important;
}

.leaflet-popup-tip {
  background-color: #111827 !important;
}
